@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
body{
  background-color: antiquewhite;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1,h2,h3{
  font-family: "游ゴシック体","YuGothic", "游ゴシック","Yu Gothic",sans-serif;
}

h2{
  border-bottom: 1px solid #6d4637;
}

ul li,ol li{
  padding: 1em;
  list-style-position: inside;
}

ol.option{
  list-style: upper-alpha;
}

ol.option li:hover{
  border: 1px solid #94232d;
  background-color: #c9e8f5;
  padding: 0.9em;
  cursor: pointer;
}

#main{
  padding: 0 1.5em;
}

.section{
  padding-top:2em ;
}

span#answer{
  font-weight: bold;
  color: #94232d;
}

#section-answer{
  display: none;
}

.question ul li{
  list-style-position: inside;
}

.question ul{
  padding-left: 1em;
}

.question{
  margin-top: 1em;
}
